Solutions/pl_resume_or_pause_synapse_analytics_sql_pool_standalone.json
{
    "name": "pl_resume_or_pause_synapse_analytics_sql_pool_standalone",
    "properties": {
        "description": "Scales Azure Synapse Analytics SQL Pool that has been created outside Azure Synapse Analytics Workspaces. Formerly known as Azure Data Warehouse. Created by https://techtalkcorner.com",
        "activities": [
            {
                "name": "Check Azure Synapse Analytics Status",
                "type": "WebActivity",
                "dependsOn": [],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "url": {
                        "value": "@concat('https://management.azure.com/subscriptions/',pipeline().parameters.SubscriptionId,'/resourceGroups/',pipeline().parameters.ResourceGroupName,'/providers/Microsoft.Sql/servers/',pipeline().parameters.ServerName,'/databases/',pipeline().parameters.DatabaseName,'?api-version=2014-04-01-preview')",
                        "type": "Expression"
                    },
                    "connectVia": {
                        "referenceName": "AutoResolveIntegrationRuntime",
                        "type": "IntegrationRuntimeReference"
                    },
                    "method": "GET",
                    "authentication": {
                        "type": "MSI",
                        "resource": "https://management.azure.com/"
                    }
                }
            },
            {
                "name": "Resume or Pause",
                "type": "IfCondition",
                "dependsOn": [
                    {
                        "activity": "Check Azure Synapse Analytics Status",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "expression": {
                        "value": "@or(and(equals(activity('Check Azure Synapse Analytics Status').output.properties.status,'Online'), equals(pipeline().parameters.Command,'Pause')),and(equals(activity('Check Azure Synapse Analytics Status').output.properties.status,'Paused'), equals(pipeline().parameters.Command,'Resume')))",
                        "type": "Expression"
                    },
                    "ifTrueActivities": [
                        {
                            "name": "Resume or Pause Azure Synapse Analytics",
                            "description": "Pause Azure Synapse Analytics created outside Azure Synapse Analytics Workspaces using REST APIs. Formerly known as Azure Data Warehouse",
                            "type": "WebActivity",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "7.00:00:00",
                                "retry": 3,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [
                                {
                                    "name": "Azure Synapse Analytics",
                                    "value": "Pause"
                                }
                            ],
                            "typeProperties": {
                                "url": {
                                    "value": "@concat('https://management.azure.com/subscriptions/',pipeline().parameters.SubscriptionId,'/resourceGroups/',pipeline().parameters.ResourceGroupName,'/providers/Microsoft.Sql/servers/',pipeline().parameters.ServerName,'/databases/',pipeline().parameters.DatabaseName,'/',pipeline().parameters.Command,'?api-version=2014-04-01-preview')",
                                    "type": "Expression"
                                },
                                "connectVia": {
                                    "referenceName": "AutoResolveIntegrationRuntime",
                                    "type": "IntegrationRuntimeReference"
                                },
                                "method": "POST",
                                "body": {
                                    "value": "{}",
                                    "type": "Expression"
                                },
                                "authentication": {
                                    "type": "MSI",
                                    "resource": "https://management.azure.com/"
                                }
                            }
                        }
                    ]
                }
            }
        ],
        "parameters": {
            "SubscriptionId": {
                "type": "string",
                "defaultValue": ""
            },
            "ResourceGroupName": {
                "type": "string",
                "defaultValue": ""
            },
            "Region": {
                "type": "string",
                "defaultValue": ""
            },
            "ServerName": {
                "type": "string",
                "defaultValue": ""
            },
            "DatabaseName": {
                "type": "string",
                "defaultValue": ""
            },
            "Command": {
                "type": "string",
                "defaultValue": "Pause"
            }
        },
        "folder": {
            "name": "Manage"
        },
        "annotations": [
            "Synapse Analytics"
        ],
        "lastPublishTime": "2020-11-13T07:03:47Z"
    },
    "type": "Microsoft.DataFactory/factories/pipelines"
}
